---

---

<section
    class="bg-gray-900 bg-[url(/src/assets/background.svg)] text-white py-20"
>
    <div class="container mx-auto px-4 text-center">
        <h1 class="md:text-5xl text-2xl font-bold mb-6">
            Профессиональные решения для видеонаблюдения
        </h1>
        <p class="md:text-xl text-base mb-8">
            24/7 Безопасность • Высокое качество • Интеграция в умный дом
        </p>
        <div class="flex justify-center items-center space-x-4 h-19">
            <a
                href="/contact"
                class="flex items-center justify-center bg-blue-400 hover:bg-blue-700 h-full rounded-lg flex-1"
                >Начать</a
            >
            <a
                href="/products"
                class="flex border items-center justify-center border-white hover:border-blue-400 rounded-lg flex-1 h-full"
                >Посмотреть продукты</a
            >
        </div>
    </div>
</section>
