---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" href="/my-project/logo.jpeg" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro Basics</title>
    </head>
    <body>
        <slot />
    </body>
    <script>
        import { initScrollAnimations } from "../utils/observer";
        import { initNumberCounters } from "../utils/counter";

        document.addEventListener("DOMContentLoaded", () => {
            initScrollAnimations();
            initNumberCounters();
        });
    </script>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
    [data-counter] {
        transition: all 0.3s ease-out;
        display: inline-block;
        min-width: 80px;
    }
</style>
